/* CSS styles for app-width class */
.app-width {
    margin: 20px !important;
    width: 500px !important;
}

.todo-item {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
